<!DOCTYPE html>
<html>
    <head>
        <title>CopyCity</title>
        <link rel = "stylesheet" href = "../static/css/CopyCity_map_page_css.css">
        <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&libraries=maps,marker&loading=async&callback=initMap" async></script>
    </head>

    <body>
        <header>
            <img class = "logo" src = "../static/Logo.png">
            <span class = "siteName">CopyCity</span>

        </header>

        <main>
            <div class = "mapContainer">
      <gmp-map center="41.0277, -92.4185" zoom="13" map-id="DEMO_MAP_ID" style="height: 400px">
            <gmp-advanced-marker
            position="41.027748173921374, -92.41852445367961"
            title="Ottumwa, IA"></gmp-advanced-marker>
      </gmp-map></div>
        <div class = "descriptions">
            <div class = "cityDescriptionCard">
                <section>
                <h1>{{ recommendations['cities'][0]['city'] }}</h1>
                <span>{{ recommendations['cities'][0]['country'] }}</span>
                </section>
                <h3>
                    {{ recommendations['cities'][0]['description'] }}
                </h3>
                <h3>
                    {{ recommendations['cities'][0]['dailyBudget'] }}
                </h3>
                <h3>
                    {{ recommendations['cities'][0]['similaritiesToYourDesires'] }}
                </h3>

                <div class = "bookingButton">
                    <button onclick = "">
                       Booking options
                    </button>
                </div>
            </div>
            <div class = "cityDescriptionCard">
                <section>  
                <h1>  {{ recommendations['cities'][1]['city'] }} </h1>
                <span>{{ recommendations['cities'][1]['country'] }}</span>
                </section>
                <h3>
                    {{ recommendations['cities'][1]['description'] }}
                </h3>
                <h3>
                    {{ recommendations['cities'][1]['dailyBudget'] }}
                </h3>
                <h3>
                    {{ recommendations['cities'][1]['similaritiesToYourDesires'] }}
                </h3>
                <div class = "bookingButton">
                    <button onclick = "">
                       Booking options
                    </button>
                </div>
            </div>
        </div>

        <div class = "descriptions">
            <div class = "cityDescriptionCard">
                <section>
                <h1>{{ recommendations['cities'][2]['city'] }}</h1>
                <span>{{ recommendations['cities'][2]['country'] }}</span>
                </section>
                <h3>
                    {{ recommendations['cities'][2]['description'] }}
                </h3>
                <h3>
                    {{ recommendations['cities'][2]['dailyBudget'] }}
                </h3>
                <h3>
                    {{ recommendations['cities'][2]['similaritiesToYourDesires'] }}
                </h3>

                <div class = "bookingButton">
                    <button onclick = "">
                       Booking options
                    </button>
                </div>
            </div>

            <div class = "cityDescriptionCard">
                <section>  
                <h1>  {{ recommendations['cities'][3]['city'] }} </h1>
                <span>{{ recommendations['cities'][3]['country'] }}</span>
                </section>
                <h3>
                    {{ recommendations['cities'][3]['description'] }}
                </h3>
                <h3>
                    {{ recommendations['cities'][3]['dailyBudget'] }}
                </h3>
                <h3>
                    {{ recommendations['cities'][3]['similaritiesToYourDesires'] }}
                </h3>
                <div class = "bookingButton">
                    <button onclick = "">
                       Booking options
                    </button>
                </div>
            </div>
        </div>
        </main>

        <footer>
            <a class = "navLinks" href = "#">Mr.Tsonev@gmail.com</a>
            <a class = "navLinks" href = "#">Mr.Hristo@gmail.com</a>
            <a class = "navLinks" href = "#">088-Mr.Chanman</a>
            <a class = "navLinks" href = "#">088-Mr.Tsonev</a>
        </footer>

        <script>
            // Injecting the Flask session data into a global JS variable
            window.recommendationsData = JSON.parse('{{ recommendations | tojson | safe }}');
        </script>
        <script src="../static/js/CopyCity_map_page_js.js"></script>
    </body>

</html>