<!DOCTYPE html>
<html>

<head>
    <title>CopyCity</title>
    <link rel="stylesheet" href="../static/css/CopyCity_map_page_css.css">
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&libraries=maps,marker&loading=async"
        async></script>
</head>

<body>
    <header>
        <img class="logo" src="../static/Logo.png">
        <span class="siteName">CopyCity</span>

    </header>

    <main>
        <h1, class="adventure-title">Your next adventure..</h1>
        <div class="mapContainer">
            <gmp-map
                center="{{ recommendations['cities'][0]['latitude'] }}, {{ recommendations['cities'][0]['longitude'] }}"
                zoom="4" map-id="DEMO_MAP_ID" style="height: 400px">

                {% for city in recommendations['cities'] %}
                {% if city.latitude and city.longitude %}
                <gmp-advanced-marker position="{{ city.latitude }}, {{ city.longitude }}" title="{{ city.city }}, {{ city.country }}"></gmp-advanced-marker>
                {% endif %}
                {% endfor %}

            </gmp-map>
        </div>
        <h1>Your CopyCities:</h1>
        <div class="descriptions">
            <div class="cityDescriptionCard">
                <section>
                    <h1>{{ recommendations['cities'][0]['city'] }}</h1>
                </section>
                <h3>
                    <b>Description:</b> {{ recommendations['cities'][0]['description'] }}
                </h3>
                <h3>
                    <b>Daily Budget:</b> {{ recommendations['cities'][0]['dailyBudget'] }}
                </h3>
                <h3>
                    <b>Why {{ recommendations['cities'][0]['city'] }}:</b> {{ recommendations['cities'][0]['similaritiesToYourDesires'] }}
                </h3>

                <div class="bookingButton">
                    <button onclick="">
                        Book now!
                    </button>
                </div>
            </div>
            <div class="cityDescriptionCard">
                <section>
                    <h1> {{ recommendations['cities'][1]['city'] }}, {{ recommendations['cities'][1]['country'] }} </h1>
                </section>
                <h3>
                    <b>Description:</b> {{ recommendations['cities'][1]['description'] }}
                </h3>
                <h3>
                    <b>Daily Budget:</b> {{ recommendations['cities'][1]['dailyBudget'] }}
                </h3>
                <h3>
                    <b>Why {{ recommendations['cities'][1]['city'] }}:</b> {{ recommendations['cities'][1]['similaritiesToYourDesires'] }}
                </h3>
                <div class="bookingButton">
                    <button onclick="">
                        Book now!
                    </button>
                </div>
            </div>
        </div>

        <div class="descriptions">
            <div class="cityDescriptionCard">
                <section>
                    <h1>{{ recommendations['cities'][2]['city'] }}, {{ recommendations['cities'][2]['country'] }}</h1>
                </section>
                <h3>
                    <b>Description:</b> {{ recommendations['cities'][2]['description'] }}
                </h3>
                <h3>
                    <b>Daily Budget:</b> {{ recommendations['cities'][2]['dailyBudget'] }}
                </h3>
                <h3>
                    <b>Why {{ recommendations['cities'][2]['city'] }}:</b> {{ recommendations['cities'][2]['similaritiesToYourDesires'] }}
                </h3>

                <div class="bookingButton">
                    <button onclick="">
                        Book now!
                    </button>
                </div>
            </div>

            <div class="cityDescriptionCard">
                <section>
                    <h1> {{ recommendations['cities'][3]['city'] }}, {{ recommendations['cities'][0]['country'] }} </h1>
                </section>
                <h3>
                    <b>Description:</b> {{ recommendations['cities'][3]['description'] }}
                </h3>
                <h3>
                    <b>Daily Budget:</b> {{ recommendations['cities'][3]['dailyBudget'] }}
                </h3>
                <h3>
                    <b>Why {{ recommendations['cities'][3]['city'] }}:</b> {{ recommendations['cities'][3]['similaritiesToYourDesires'] }}
                </h3>
                <div class="bookingButton">
                    <button onclick="">
                        Book now!
                    </button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <a class="navLinks" href="#">Mr.Tsonev@gmail.com</a>
        <a class="navLinks" href="#">Mr.Hristo@gmail.com</a>
        <a class="navLinks" href="#">088-Mr.Chanman</a>
        <a class="navLinks" href="#">088-Mr.Tsonev</a>
    </footer>

    <script>
        // Injecting the Flask session data into a global JS variable
        window.recommendationsData = JSON.parse('{{ recommendations | tojson | safe }}');
    </script>
    <script src="../static/js/CopyCity_map_page_js.js"></script>
</body>

</html>